<div class="logos">
    <a href="http://web.gencat.cat/" title="Generalitat de Catalunya" class="logo gencat">
      <img src="http://www.icgc.cat/bundles/microblauicgc/img/gencat/logos/NG_logo_generalitat.png" alt="gencat.cat"/>
    </a>
    <a href="http://www.icgc.cat/" title="Institut Cartogràfic i Geològic de Catalunya" class="logo icgc">
      <img src="http://www.icgc.cat/var/ezwebin_site/storage/images/inici/454291-1-cat-ES/Inici.png" alt="www.icgc.cat"/>
    </a>
  </div>
</div>

<div class="navbar navbar-default gn-top-bar" role="navigation"
     data-ng-include="'../../catalog/templates/top-toolbar.html'"
     xmlns="http://www.w3.org/1999/html">
</div>

<div data-gn-alert-manager=""></div>

<div class="gn-search-page"
     data-ng-controller="GnSearchController">
  <cookiewarning></cookiewarning>
  <div class=""
       data-ng-controller="gnsDefault">
    <gn-extend-mainctrl></gn-extend-mainctrl>

    <div data-ng-include="'../../catalog/views/custom/templates/home.html'"
         data-ng-show="activeTab == '/home'"/>
    <div data-ng-include="'../../catalog/views/custom/templates/results.html'"
         data-ng-show="activeTab == '/search'"/>
    <div data-ng-if="isMapViewerEnabled" 
         data-ng-include="'../../catalog/views/custom/templates/map.html'"
         data-ng-show="activeTab == '/map'"/>
    <div data-ng-include="'../../catalog/views/custom/templates/recordView.html'"
         data-ng-show="activeTab == '/metadata'"/>
  </div>
</div>


<div class="navbar navbar-default gn-bottom-bar">
  <ul class="nav navbar-nav">
    <li><a href="http://geonetwork-opensource.org/">
      <i class="fa fa-fw"></i>
      <span data-translate="">about</span>
    </a></li>
    <li class="hidden-sm"><a href="https://github.com/geonetwork/core-geonetwork">
      <i class="fa fa-github"></i>
      <span data-translate="">github</span></a></li>
    <li>
      <a data-translate=""
         data-translate-values="{platform: '{{info.site.platform.name}}', version: '{{info.site.platform.version}}', subversion: '{{info.site.platform.subVersion}}'}">
        versionDetails</a>
    </li>
    <li>
      <a href="rss.search?sortBy=changeDate&georss=simplepoint"
              title="{{'lastRecords' | translate}}">
        <i class="fa fa-rss"/>
      </a>
    </li>
  </ul>
</div>
